@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --template-font: "Montserrat", sans-serif;
    --template-headings-font: "Montserrat", sans-serif;
}

/* global overides */
.form-control, button {
    border-radius: 0px;
}

.btn {
    font-weight: 500;
}
button, input[type="submit"], a.btn {
    text-transform: none;
}

.btn.btn-secondary,
a.btn.btn-secondary {
    border: 1px solid #000;
}

.btn.btn-secondary:hover,
a.btn.btn-secondary:hover {
    background-color: #000;
    color: #fff;
}

/* hero slider */
.extended-banner-texts {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.extended-banner-link, .extended-banner-text, .extended-banner-title {
    position: relative;
    background: transparent;
    box-shadow: none;
    border: none;
}

.extended-banner-link {
    height: unset;
    margin-top: unset;
    right: unset;
    top: unset;
    background-color: #fff;
    width: 243px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;    
}

.extended-banner-link:hover {
  background-color: var(--color-tertiary-hover);
}

.extended-banner-title {
font-weight: 500;
line-height: 100%;
letter-spacing: 0.18em;
text-transform: uppercase;
margin-bottom: 1rem;
color: #fff;
}

.extended-banner-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  max-width: 700px;
  text-wrap: balance;
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
}


/* banery */

@media (min-width: 992px) {
    .next-to-carousel-banners {
        margin-top: 3rem;
    }
}

/* skrytí textu "vítejte" na homepage */
.homepage-texts-wrapper {
    display: none;
}

/* newsletter */
.custom-footer-container {
    background-color: var(--color-secondary);
    padding: 85px 20px 55px;
    text-align: center;
    position: relative;
    border-top: none;
    background-image: url(https://706264.myshoptet.com/user/documents/upload/eva_message-circle-outline.png);
    background-size: 650px;
    background-position: 31% 67%;
    background-repeat: no-repeat;
}
#footer {
    margin-top: 0;
}
#footer .custom-footer-container .footer-newsletter {
    padding-top: 0;
    padding-bottom: 0;
}

#footer .custom-footer-container .footer-newsletter h4 {
    font-weight: 500;
    font-size: 36px;
    color: #fff;
    margin-bottom: 63px;
}

.custom-footer-container p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 40px;
}
.custom-footer-container fieldset {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.custom-footer-container fieldset br {
    display: none;
}

.custom-footer-container input[type="email"] {
    padding: 15px;
    width: 500px;
    max-width: 100%;
    margin-bottom: 20px;
    border: none;
    border-radius: 0px;
    font-size: 18px;
}   
.custom-footer-container div.form-group.js-validated-element-wrapper.consents.consents-first {
    position: absolute;
}

.custom-footer-container button[type="submit"] {
    padding: 15px 130px 15px 30px;
    background-color: #131313;
    color: #fff;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    text-transform: none;
    height: 117px;
    background-image: url(https://706264.myshoptet.com/user/documents/upload/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: 83% center;
    position: relative;
    top: -10px;
    right: unset;
}

.custom-footer-container button[type="submit"]:hover {
    background-color: #000;
    color: #fff;
}

#footer .custom-footer-container .footer-newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: transparent;
}


.newsletter-header p,
label[for="newsletterConsents31"] {
    display: none;
}

.footer-newsletter .form-control {
    height: 117px;
}

/* banery benefit */

.container--bannersBenefit {
    padding: 0;
}

.benefitBanner {
    margin-top: 150px;
    margin-bottom: 146px;
}

.benefitBanner__item  {
    font-size: 18px;
    font-weight: 500;
    text-wrap: balance;
    margin-bottom: 0px;
    padding-top: 28px;
    padding-bottom: 28px;
}
.benefitBanner__item + .benefitBanner__item {
    border-left: 1px solid #C4C4C4;
    padding-left: 50px;
}
.benefitBanner__content {
    padding-right:0; 
}
.benefitBanner__picture img{
    width: 60px;
    height: auto;
    object-fit: contain;
}

/* blog */
/* novinky */
.homepage-blog-wrapper {
    background-color: #000;
    padding: 64px 0 124px 0;
}

.homepage-group-title.h4 {
    font-weight: 500;
    font-size: 36px;
    color: #fff;
    margin-bottom: 64px;
}

.blog-wrapper a {
    color: #fff;
}
.news-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.container.news-wrapper-outer {
    padding: 0;
}
.news-wrapper-outer {
    position: relative;
}

.blog-wrapper .news-item {
    padding: 0;
    position: relative;
}
.blog-wrapper .news-item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(63.9deg, #2E2E2E 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.85;
    z-index: 1;
    mix-blend-mode: multiply;
}
.blog-wrapper .news-item:hover:before {
    background: #ECB235;
    mix-blend-mode: normal;
}


.blog-wrapper .news-item .image {
    margin-right: 0;
}

.blog-wrapper .news-item:hover img{
    filter: saturate(0);   
}

.blog-wrapper .news-item .image  img{
    object-fit: cover;
    aspect-ratio: 1.31147540984;
}

.blog-wrapper .news-item:last-child img {
    aspect-ratio: 2.62295081967;
}

.blog-wrapper .news-item .text {
    position: absolute;
    bottom: 0;
    padding: 30px 40px;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
@media (min-width: 1200px) {
    .blog-wrapper .news-item:not(:last-child) {
        flex-basis: 33.333333%;
        width: 33.333333%;
        aspect-ratio: 1.31147540984;

    }
    .blog-wrapper .news-item:last-child {
        flex-basis: 66.666666%;
        width: 66.666666%;
        aspect-ratio: 2.62295081967;
    }
}


.news-wrapper-outer .btn.btn-primary {
    position: absolute;
    bottom: -48px;
    right: 0;
    padding: 15px 130px 15px 30px;
    background-color: var(--color-secondary);
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-transform: none;
    height: 117px;
    background-image: url(https://706264.myshoptet.com/user/documents/upload/arrow-right-black.svg);
    background-repeat: no-repeat;
    background-position: 83% center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.news-wrapper-outer .btn.btn-primary:hover {
    background-color: var(--color-secondary-hover);
}


.blog-wrapper .news-item .description {
    display: none;
}

.author-info {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 7px;
}
.author-info img {
    width: 20px;
    height: 20px;
}

.blog-wrapper .news-item .title {
    margin-top: 5px;
}

/*produkty*/
.flags {
    top: 26px;
    right: 10px;
    left: unset;
}

.flags-default .flag {
    width: 100%;
    padding: 8px 14px 7px 14px;
}

.flag {
    text-transform: none;
    font-size: 18px;
    margin-bottom: 6px;
}

.flag:after,
.flag:before,
.products-block>div .p .p-code,
.products-block>div .p .p-bottom .p-desc {
    display: none;
}

span.flag.flag-custom1 {
    background: #F24D4D !important;
}

.products-block>div .p .p-in {
    text-align: left;
}

.products-block .p {
    border-color: transparent;
}
.products-block .p:hover {
    border-color: #C4C4C4;
}

.p:hover .flag {
    opacity: 1;
}

.flag.flag-new {
    background-color: #63DA46;
}
.products-block .p .name,
.availability,
.products-block>div .p .p-bottom {
    padding-left: 15px;
    padding-right: 15px;
}
.availability {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
}
@media screen and (min-width: 480px) {
    .columns-3 .products-block>div, .columns-4 .products-block>div {
        padding: 0;
    }
}

.shp-tabs,
.shp-tabs-holder,
.active .shp-tab-link {
    border-color: transparent;
}

.active .shp-tab-link {
    font-weight: 500;
    font-size: 24px;
}

.shp-tab-link {
    background-color: transparent;
    border-color: transparent;
    color: #979797;
    font-size: 16px;
}
.shp-tab-link:hover {
    color: #000;
    background-color: transparent;
    border-color: transparent;

}

.shp-tabs-holder ul.shp-tabs li a {
    padding-left: 10px;
    padding-right: 10px;
}

.homepage-tabs-wrapper .shp-tabs-holder ul.shp-tabs {
    margin-bottom: 32px;
}
.products-block .p-bottom .prices {
    margin-bottom: 10px;
}

.products-block .p-bottom .prices strong {
    font-size: 18px;
    font-weight: 500;
}

a.name {
    font-size: 18px;
    font-weight: 500;
}

.products-block>div .p .p-bottom>div .p-tools {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

@media (min-width: 768px) {
    .products-block>div .p .name {
        height: 54px;
    }
}

.products-block>div .p:hover .p-bottom>div .p-tools {
    display: block;
}

.products-block .p-bottom>div .p-tools form {
    display: inline-block;
    text-align: right;
}

.shp-tabs-wrapper.homepage-tabs-wrapper {
    margin-bottom: 80px;
}

.products-block>div .p .p-bottom>div .p-tools .btn, .products-block>div .p .p-bottom>div .p-tools .btn.btn-cart {
    height: auto;
    margin: 0 auto;
    min-width: unset;
    padding: 15px;
    width: 60px;
    background: #000;
    border: none;
}

.show-more-container {
    margin-bottom: 90px;
}


/*kategorie - čtverec */
.banner-wrapper {
    position: relative;
}
span.extended-banner-link {
    position: absolute;
    bottom: 56px;
}

.extended-banner-text {
    line-height: 1.2;
}

.banner-wrapper a img {
    opacity: 0.9;
}
.banner-wrapper a:hover img {
    opacity: 1;
}

/*navbar*/

.navigation-in ul li a b {
    font-weight: 500;
}

.navigation-in ul li a,
.menu-helper>span {
    font-size: 14px;
}

/*footer*/
#footer {
    background-color: #000;
    color: #fff;
    padding-bottom: 50px;
}

#footer h4 {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

#footer .custom-footer-container p,
#footer a {
    color: #fff;
}

.footer-bottom {
    border-color: transparent;
    font-size: 18px;
    padding-top: 100px;
}

#footer ul {
    padding-left: 0px;
    font-size: 18px;
    margin-top: 40px;
}

#footer ul li {
    padding: 3px 0;
}

.footer-logo {
    display: inline-block;
    margin: 87px 0 67px 0;
}
#signature a.image img {
    height: auto;
    width: unset;
}
.miranda-logo {
    margin-left: 10px;
    margin-right: 10px;
}
